.main_content {
    width: 750px;
    margin-top: 10px;
    margin-left: 17%;
    height: auto;
    border: 2px solid #858586;
    background-color: aliceblue;
    position: relative;
}

.todo-button-incomplete {
    font-size: 25px;
    color: rgb(6, 204, 13);
    border-radius: 50% 50%;
    margin-bottom: 50px;
    margin-right: 10px;
}

.todo-button-delete {
    font-size: 25px;
    color: rgb(255, 0, 0);
    border-radius: 50% 50%;
    margin-bottom: 50px;
}

.utility-buttons {
    width: 80px;
}