.history-wrapper {
    margin-top: 15px;
}

.history-wrapper .todo-button-incomplete {
    font-size: 25px;
    color: rgb(6, 204, 13);
    border-radius: 50% 50%;
    margin-bottom: 50px;
    margin-right: 10px;
}

.history-wrapper .todo-button-delete {
    font-size: 25px;
    color: rgb(255, 0, 0);
    border-radius: 50% 50%;
    margin-bottom: 50px;
}

.history-wrapper .panel-heading {
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    font-style: italic;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    border-radius: 25px;
    color: limegreen;
}

.history-wrapper .panel-body {
    background: url(../assets/images/postednotebackground.png);
    border-radius: 25px;
}

.history-wrapper .show-history {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: deepskyblue;
}