body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.home-container .container {
    margin-top: 100px;
}

#loginbox {
    margin-top:50px;
}

.welcome {
    margin-left: 30%;
}

.welcome-user{
    margin-left: 30%;
}

#signedIn {
    display: none;
}
/*
.forgot-password {
    float: right;
    font-size: 80%;
    position: relative;
    top: -10px;
}
*/

