body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.home_container {
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}