.panel-heading {
    border-bottom: 1px solid black;
    font-family: "Droid Sans Mono";
    font-size: 24px;
    font-style: italic;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

.panel-default {
    margin-top: 10px;
}

.todowrapper {
    margin-top: 20px;
}

.main_content {
    width: 750px;
    margin-left: 17%
    height: auto;
    border: 2px solid #858586;
    background-color: aliceblue;
    position: relative;
}


.todo_form {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 20px;
}

.show_todo_wrapper {
    margin-top: 10px;
    margin-right: auto;
}

.showtodos {
    font-family: Quicksand;
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 18px;
    color: deepskyblue;
    border-bottom: 1px solid #EAEAEA;
}

.todo-button-delete {
    font-size: 25px;
    color: rgb(255, 0, 0);
    border-radius: 50% 50%;
    margin-bottom: 50px;
}

.todo-button-complete {
    font-size: 25px;
    color: rgb(6, 204, 13);
    border-radius: 50% 50%;
    margin-bottom: 50px;
}

.heading {
    margin-top: 10px;
    padding-bottom: 10px;
}
