body {
    background: url(../assets/images/markoffBackground.png) no-repeat center center fixed;
    background-size: cover;
    
}

.todo-wrapper {
    margin-top: 15px;
}

.todo-wrapper .panel-heading {
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    font-style: italic;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    border-radius: 25px;
    color: limegreen;
}

.todo-wrapper .panel-body {
    background: url(../assets/images/postednotebackground.png);
    border-radius: 25px;

}

.todo-wrapper .todo-form {
    margin: 15px;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
}
/*
.todo_form {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 20px;
}
*/

.todo-wrapper .show-todo-wrapper {
    margin-top: 10px;
    margin-right: auto;
}

.todo-wrapper .showtodos {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: deepskyblue;
}

.todo-wrapper .todo-button-delete {
    font-size: 25px;
    color: rgb(255, 0, 0);
    border-radius: 50% 50%;
    margin-bottom: 50px;
}

.todo-wrapper .todo-button-complete {
    font-size: 25px;
    color: rgb(6, 204, 13);
    border-radius: 50% 50%;
    margin-bottom: 50px;
    margin-right: 10px;
}

.utility-buttons {
    width: 80px;
}

.heading {
    margin-top: 10px;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
}

th {
    color: limegreen;
}