<div class="row">
  
   <!-- called addTodos -->
   
    <form class="form-inline" ng-submit="addTodos()">
        <div class="form-group">
            <label>TaskName</label>
            <input type="text" class="form-control" id="inputTodo" placeholder="Add Task" ng-model="newTodo">
            <button type="submit" id="submit" ng-disabled="frm.$invalid" value="Submit">Add Task</button>
        </div>
    </form>
    <ul>
        <li ng-repeat="todo in todos">
            {{todo.title}}
        </li>
    </ul>
</div>